{% if post.direction %}
<div class="post {{ post.direction }}">
{% else %}
<div class="post">
{% endif %}

    <a href="{{ post.url | prepend: site.baseurl }}" class="post-title-link">
      <h2>
        <span class="title-image"></span>
        {{post.title}}
      </h2>
    </a>

    <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>

    <div class="post-body">
      {% if post.hero_low %}
      {% endif %}
      {{ post.excerpt }}
    </div>

    <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
       <span class="read-more-text">Read More</span>
    </a>

</div>
