<div class="post {{ post.direction }}">
    <a href="{{ post.url | prepend: site.baseurl }}" class="post-title-link">
      <h2 class="{{ post.categories | join: ' ' }}">
        <span class="title-image"></span>
        {{post.title}}
      </h2>
    </a>
    <div class="post-date">{{ post.date | date: "%b %-d, %Y" }}</div>

    <div class="post-body">
      {% if post.hero_low %}
      {% endif %}
      {{ post.excerpt }}
    </div>

    <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
       <span class="read-more-text"><i class="more"></i></span>
    </a>

</div>
