
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                	      <h1 style="color: #0F3C73;" class="outside-header">Posts tagged as: <span class="outside-tags">{{page.tag_name}}</span></h1>
                          <div role="main" class="main-content">
                            {{ content }}
                          </div>
					<hr>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                {% include search.html %}

                {% include categories_box.html %}

                {% include recent_posts.html %}

                {% include tags_box.html %}

                {% include contact.html %}

            </div>
        </div>
        <!-- /.row -->
       <hr>
